body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0} 
li{list-style-type:none;} 
img{vertical-align:top;border:0;}
ol,ul {list-style:none;}
html,body{
    background-color:#cecece;
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    justify-content: center;
    margin-top: 14%;
    overflow: hidden;
}
#selectBox{
    outline:none;
    background-color: #444444 ;
    display: flex;
    width: 250px;
    height: 30px;
    border-radius: 4px;
    align-items: center;
    padding: 5px;
    position: relative;
}
.selectBlur{
    border: 1px solid #000000;
}
.selectFocus{
    border:1px solid #96f5ec;
}
#listBox{
    position: absolute;
    left: 0px;
    top:110%;
    width: 100%;
    background-color: #2b2b2b;
    overflow-y: scroll;
    transition: all 0.36s;
    border-radius: 4px;
}

#listBox .item{
    padding: 3px;
    text-indent:3%;
    color:#cecece;
    cursor: pointer;
}
#listBox .item:hover{
    background-color:#5d5d5d;
}
.select-input{
    flex-grow:3;
    background-color: rgba(255, 255, 255,0.000);
    height: 100%;
    outline:none;
    border-width: 0px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
    font-size: 20px;
    font-family: Microsoft YaHei;
    color: #ffffff;
}
.open-icon{
    float: right;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #fff;
    transition:0.6s all;
    -ms-transition: 0.6s all;
    -moz-transition: 0.6s all;
    -webkit-transition: 0.6s all;
    -o-transition: 0.36s all;
    border-radius: 4px;
}

.open-icon-down{
    transform:rotate(180deg);
    -ms-transform:rotate(180deg); /* Internet Explorer */
    -moz-transform:rotate(180deg); /* Firefox */
    -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
    -o-transform:rotate(180deg); /* Opera */
}

/*open or close*/
.open{
    height:150px;
    opacity: 1;
}

.close{
    height: 0px;
    opacity: 0;
}